body{
margin:0;
padding: 0;
border:0;
font-family: 'Open Sans', sans-serif;

}

 /*navbar*/
.bg-green{
  background-color: green;
  padding: 15px;
}

.head{
    background-image: url(../img/esteban1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: white;
      text-align: center;
      height: 700px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 20px;
}

.subtitle h1{
  font-size:50px;
}
.head hr {
    max-width: 180px;
    background-color: white;
    border: 1px solid  white;
}
/*descripcion*/
.description {
    padding: 35px 0;

}

.description h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color:secondary;
    font-weight: 600;
    line-height: 2;
}

.description p {
    font-weight: 400;
    line-height: 2;
}
hr{
  width: 200px;
  border:1px solid black;
  margin-bottom: 40px;
}
